{{page-title "Aanvragen"}}

<div class="au-o-box au-o-flow au-o-flow--large">

  <AuDataTable
    @content={{this.model.requests}}
    @fields="raceName organizerName raceDate"
    as |t|
  >
    <t.menu as |menu|>
      <menu.general>
        <PageHeader class="au-o-box">
          <:title>Aanvragen</:title>
          <:action>
            <AuLink
              @route="requests.new.identity"
              @icon="add"
              @iconAlignment="left"
              @skin="button"
            >
              Nieuw
            </AuLink>
          </:action>
        </PageHeader>
      </menu.general>
    </t.menu>
    <t.content class="au-c-data-table__table--small" as |c|>
      <c.header>
        <AuDataTableThSortable
          @field="raceName"
          @currentSorting={{this.sort}}
          @label="Naam"
        />
        <AuDataTableThSortable
          @field="create"
          @currentSorting={{this.sort}}
          @label="Organisator"
        />
        <AuDataTableThSortable
          @field="create"
          @currentSorting={{this.sort}}
          @label="Datum"
        />
        <AuDataTableThSortable
          @field="state"
          @currentSorting={{this.sort}}
          @label="Status"
        />
      </c.header>
      <c.body as |row|>
        <td><AuLink @route="requests.request" @model={{row.id}}>
            {{row.raceName}}
          </AuLink>
        </td>
        <td>{{row.organizerName}}</td>
        <td>{{row.raceDate}}</td>
        <RequestStatus @state={{row.state}} />
      </c.body>
    </t.content>
  </AuDataTable>
</div>